#modal_add{
    display: none;
    min-height: 200px;
    width: 500px;
    position: fixed;
    z-index: 10;
    border: 1px solid black;
    top: 100px;
    left: 100px;
    background-color: white;
    box-shadow: black 5px 5px 30px 2px;
}
#modal_add form, #modal_add label{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#modal_add form input{
    padding: 10px;
    margin:  5px 0;
}
#modal_add textarea{
    height: 150px;
}
