#news{
    display: flex;
    flex-wrap: wrap;
}
#news .table_news{
    flex-basis: 95vw;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 15px 20px;
}

#news .table_news tr td, #news .table_news tr th{
    padding: 8px;
    border: 1px solid black;    
}

#news .table_news input[type='submit']{
    width: 100%;
    padding: 10px;
}
#news .table_news img{
    width: 15vw;
}
#modal_add, #modal_update{
    display: none;
    min-height: 200px;
    width: 40vw;
    position: absolute;
    z-index: 10;
    border: 1px solid black;
    top: 50px;
    left: 30vw;
    background-color: white;
    box-shadow: black 5px 5px 30px 2px;
}
#modal_add form, #modal_add label, #news_update, #news_update label{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#news_update img{
    width: 50%;
}
#modal_add form input, #news_update input{
    padding: 10px;
    margin:  5px 0;
}
#modal_add textarea, #news_update textarea{
    height: 150px;
}
#modal_add button, #modal_update button{
    background-color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
