#news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#news .table_news{
    flex-basis: 43vw;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 15px 20px;
}
#news .table_news tr{
    border-bottom: 1px solid black;
    display: flex;
}
#news .table_news tr td{
    padding: 8px;
    flex-basis: 50%;
}
#news .table_news td:first-child{
    font-weight: bold;
    font-size: 20px;
}
#news .table_news input[type='submit']{
    width: 100%;
}
#news .table_news img{
    width: 100%;
}
#modal_add{
    display: none;
    min-height: 200px;
    width: 40vw;
    position: absolute;
    z-index: 10;
    border: 1px solid black;
    top: 50px;
    left: 30vw;
    background-color: white;
    box-shadow: black 5px 5px 30px 2px;
}
#modal_add form, #modal_add label{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#modal_add form input{
    padding: 10px;
    margin:  5px 0;
}
#modal_add textarea{
    height: 150px;
}
